@charset "utf-8";
body{
    background-color: rgba(70, 142, 236, 0.753);
    font:normal 16pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 16px;
    width:85%;  
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.534);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}